<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CHANGE TITLE -->
        <title>FT Xtraction</title>
        <link href="../static/css/settings.css" rel="stylesheet">
        <link href="../static/css/entry_page.css" rel="stylesheet">
        <!-- <link href="./static/css/settings.css" rel="stylesheet">
        <link href="./static/css/entry_page.css" rel="stylesheet"> -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="shutdown">Shut Down</div>

        <div class="title"><b>Welcome to the FT Xtraction</b></div>
        <div class="sub_title">What type of data would you like to analyze?</div>

        <a href="/video_analysis"><div class="link video_analysis">Video Analysis</div></a>
        <a href="/feature_extraction"><div class="link feature_extraction">Feature Extraction</div></a>
        <a href="/user_guide"><div class="link user_guide">User Guide</div></a>

        <div class="shutdown_overlay">
            <div class="shutdown_overlay_background"></div>
            <div class="shutdown_overlay_message">The server has been shutdown, 
                you may now close this window.
            </div>
        </div>

    </body>
    <script type="text/javascript" src="../static/js/utils.js"></script>
</html>
