/*--------------------SETUP--------------------*/
body{
    --selection_left: 2%;
    align-items: center;
}

div.container{
    position: absolute;

    background-color: var(--sub_bg);
    border: 1px solid var(--border_color);
}

/*--------------------HOME PAGE--------------------*/
div.home, div.shutdown, div.create_csvs, div.select_all{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    
    width: 10.525%;
    height: 7%;

    background-color: var(--sub_bg);
    border: 1px solid var(--border_color);

    color: var(--text_color);
    text-align: center;
    
}

div.home{
    top: 3%;
    left: var(--selection_left);
}

/*--------------------SHUTDOWN--------------------*/
div.shutdown{
    top: 3%;
    left: 13.45%;
}

/*--------------------VIDEO_CSV LIST--------------------*/
div.container.video_csv_list_container{
    display: flex;
    justify-content: center;
    align-items: center;

    left:4%;

    width: 50%;
    height: 50%;
    
    border-radius: 2vh 2vh 2vh 2vh;
}

table{
    width: 90%;
    height: 84%;

    background-color: var(--sub_bg);
    border-collapse: collapse;
}

table thead{
    background-color: var(--border_color);

    color: var(--sub_bg_2)
}

table tbody tr{
    overflow-y: scroll;
}

table tbody tr{
    border-bottom: 1px solid var(--border_color);

    color: var(--text_color);
}

table tbody tr td{
    text-align: center;
}

table tbody tr td:nth-of-type(2){
    text-align: left;
    /* text-indent: 20%; */
}


table tbody tr:last-of-type {
    border-bottom: 1px solid var(--border_color);
}

table.video_csv_list tbody tr:hover{
    cursor: pointer;

    background-color: var(--hover_sub_bg);
}

input{
    cursor: pointer;
}

td>input{
    /* margin-left: 1%; */
    
    /* position: absolute; */

    width: 2.5vh;
    height: 2.5vh;

    appearance: none;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid var(--text_color);
    border-radius: 25%;
}

td>input:checked{
    background-color: var(--text_color);
    box-shadow: inset 0px 0px 0px 3px var(--sub_bg);
}

/*--------------------FEATURE LIST--------------------*/
div.form_title{
    display: flex;
    height: 20%;
    width: 100%;
    color: var(--text_color);
    font-size: 145%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 300;

    border-bottom: 2px solid var(--text_color);
}

div.container.feature_list_container, div.container.significant_moments_list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    right: 25%;

    width: 20%;
    height: 50%;

    border-radius: 1vh 1vh 1vh 1vh;

    overflow-y: scroll;
}

form.feature_list_form, form.significant_moments_list_form{
    width: 100%;
    height: 100%;
}

div.input_feature_list_container, div.input_significant_moment_list_container{
    display: flex;
    align-items: center;

    width: 100%;
    height: 20%;
}

input.feature_list_input, input.significant_moment_list_input{
    margin-left: 1%;
    
    position: absolute;

    width: 2.5vh;
    height: 2.5vh;

    appearance: none;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid var(--text_color);
    border-radius: 25%;
}

input.feature_list_input:checked, input.significant_moment_list_input:checked{
    background-color: var(--text_color);
    box-shadow: inset 0px 0px 0px 3px var(--sub_bg);
}


label.feature_list_label, label.significant_moment_list_label{
    margin-left: 10%;

    position: absolute;

    cursor: pointer;

    color: var(--text_color);
    font-size: 95%;
    text-align: center;
    white-space:pre-line;

    user-select: none;
}

/*--------------------SIGNIFICANT MOMENT LIST--------------------*/
div.container.significant_moments_list_container{
    right: 4%;
}

/*--------------------CREATE CSV BUTTON--------------------*/
div.create_csvs{
    left: 3%;
    bottom: 5%;
}

div.create_csvs:hover, div.select_all:hover{
    cursor: pointer;

    background-color: var(--hover_sub_bg);
}

/*--------------------SELECT ALL BUTTON--------------------*/
div.select_all{
    left: 5%;
    bottom: -10%;
}

/*--------------------CSV PROGRESS CONTAINER--------------------*/
div.csv_progress_overlay{
    z-index: 1;

    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

div.csv_progress_overlay_background{
    position: absolute;

    width: 100%;
    height: 100%;

    background: black;
    opacity: 0.5;
}

div.csv_progress_container{
    display: flex;

    position: absolute;
    top:20%;

    justify-content: center;
    align-items: center;
    
    position: absolute;

    width: 50%;
    height: 50%;

    /* background-color: red; */
    border-radius: 1%;
}

div.csv_progress_container>table tbody tr td:nth-of-type(2){
    text-align: center;
    text-indent: -20%;
}

div.csv_progress_container>table tbody tr td:nth-of-type(3){
    text-align: center;
    text-indent: -100%;
}

div.finished_processing_message{
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;

    background-color: var(--sub_bg_2);
    
    width: 100%;
    height: 100%;

    color: var(--text_color);
    font-size: 150%;
    text-align: center;

    border-radius: 1%;

    white-space:pre-line;
    line-height: 190%;


}

div.stop_processing{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 73%;
    left: 25%;

    cursor: pointer;

    background-color: var(--sub_bg_2);
    border: 1px solid var(--border_color);

    width: 10%;
    height: 7%;

    color: var(--text_color);
    text-align: center;
}

div.close_progress_overlay{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 73%;
    left: 36%;

    cursor: pointer;

    background-color: var(--sub_bg_2);
    border: 1px solid var(--border_color);

    width: 10%;
    height: 7%;

    opacity: 0.5;

    color: var(--text_color);
    text-align: center;
}